@use '../custom' as *;

.elaboracion {


    .titulo-proceso {
        color: $verde;
        margin: 0;
        text-align: left;
    }

    .titulo-proceso::after {
        content: '';
        display: block;
        width: 50%;
        height: 5px;
        background-color: $marron;
    }

    .elaboracion-seccion {
        color: $marron;
        
    }
}