@use '../custom' as *;
@use '../base/mixins' as m;

.footer__logo1 {
    content: url(../../../build/img/ministerio.png);
}

.footer__logo2 {
    content: url(../../../build/img/eu.png);
}

.footer__logo3 {
    content: url(../../../build/img/recuperacion.png);
}

.footer__logo4 {
    content: url(../../../build/img/redes.png);
}

.footer__logo {
    content: url(../../../build/img/logo2.avif);
}

.footer__row2 {
    height:rem;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), 
                url('../../build/img/coop25-md.avif');
    background-size: cover;
    background-position: center;
}



.form_log {
    content: url(../../../build/img/logo2.avif);

}

.footer_nav a {
    text-decoration: none;
    color: $verde;
    font-weight: bold;

    &:hover {
        color: $dark;
    }
}

.footer__copyright {
    background-color: $verde;
    color: $white;
}