@use '../custom' as *;

.gastronomia-local {
    padding: 5rem;
    background-color: #f0eeee;
    border-radius: 8rem;

    .gastronomia-local__heading {
        font-weight: 900;
        color: $marron;
    }

    .estrellas {
        content: url(../img/estrellas.png);
    }

    .webp .estrellas {
        content: url(../img/estrellas.webp);
    }

    .avif .estrellas {
        content: url(../img/estrellas.avif);
    }

    .gastronomia {
        .gastronomia-contenido {
            overflow: hidden;

            /* Evita que la imagen se desborde */
            img {
                transition: transform 0.3s ease-in-out;

                &:hover {
                    transform: scale(1.5);
                }
            }
        }
    }

}