@use '../custom' as *;
@use '../base/mixins' as m;
@use '../base/animaciones' as *;


.navbar {
    position: relative;
   
    z-index: 100;
    .navbar-brand {
        color: $white;
    }

    .nav-link {
        color: $white;
        font-weight: 700;
        letter-spacing: 1px;
        text-align: center;
        @include m.fadeIn(2s, 0s);

        &:hover {
            color: $dorado;
        }
    }

    .navbar-toggler-icon {
        background-color: $white;
    }

    .dropdown-menu {
        background-color: #3b5a2bb9;
        font-weight: bold;
    }

    .dropdown-item {
        color: $white;
        font-weight: bold;

        &:hover {
            color: $dark;
            background-color: $verde;
        }
    }

    .form-control {
        border-color: $marron;
    }

    .btn-outline-light {
        border-color: $marron;
        color: $verde;
        background-color: $white;

        &:hover {
            background-color: $marron;
            color: $white;
        }
    }

    .btn-search {
        background-color: $white;
        color: $verde;
        border-color: $verde;

        &:hover {
            background-color: $verde;
            color: $white;
        }
    }

}

.header{
   @include m.background-image('../../build/img/coop33.jpg');
   position: relative;
    background-size: cover;
    background-position: center;
    width: 100%;

    .header-aceite{
        display: none;

        @include media-breakpoint-up(lg) {
            display: block;
            /* mostramos la guitarra en una pantalla grande */
            position: absolute;
            right: 0;
            /* la coloca del ladoº derecho */
            bottom: 0;
            width: 20rem;
            height: 40rem;
            /* la coloca arriba */
            animation-duration: 1s;
            /* Cuanto va a durar la animacion */
            animation-delay: 0s; /* Cuanto va a tardar la imagen en comenzar */
            animation-timing-function: ease-in-out; /* transicion */
            animation-name: animarImagen; /* min 30 */
            /* Llamamos a la animacion de la imagen */
        }
    }

    @include media-breakpoint-up(lg){
        min-height: 100vh;
    }
}

.webp .header {
    @include m.background-image('../img/coop33.webp');
}

.avif .header {
    @include m.background-image('../img/coop33.avif');
}

.header2{
    @include m.background-image('../img/coop27.jpg');
    position: relative;
     background-size: cover;
     background-position: center;
     width: 100%;
 
     .header-aceite{
         display: none;
 
         @include media-breakpoint-up(lg) {
             display: block;
             /* mostramos la guitarra en una pantalla grande */
             position: absolute;
             right: 0;
             /* la coloca del ladoº derecho */
             bottom: 0;
             width: 20rem;
             height: 40rem;
             /* la coloca arriba */
             animation-duration: 1s;
             /* Cuanto va a durar la animacion */
             animation-delay: 0s; /* Cuanto va a tardar la imagen en comenzar */
             animation-timing-function: ease-in-out; /* transicion */
             animation-name: animarImagen; /* min 30 */
             /* Llamamos a la animacion de la imagen */
         }
     }
 
     @include media-breakpoint-up(lg){
         min-height: 100vh;
     }
 }
 
 .webp .header2 {
     @include m.background-image('../img/coop27.webp');
 }
 
 .avif .header2 {
     @include m.background-image('../img/coop27.avif');
 }


 .header3{
    @include m.background-image('../img/coop21.jpg');
    position: relative;
     background-size: cover;
     background-position: center;
     width: 100%;
 
     .header-aceite{
         display: none;
 
         @include media-breakpoint-up(lg) {
             display: block;
             /* mostramos la guitarra en una pantalla grande */
             position: absolute;
             right: 0;
             /* la coloca del ladoº derecho */
             bottom: 0;
             width: 20rem;
             height: 40rem;
             /* la coloca arriba */
             animation-duration: 1s;
             /* Cuanto va a durar la animacion */
             animation-delay: 0s; /* Cuanto va a tardar la imagen en comenzar */
             animation-timing-function: ease-in-out; /* transicion */
             animation-name: animarImagen; /* min 30 */
             /* Llamamos a la animacion de la imagen */
         }
     }
 
     @include media-breakpoint-up(lg){
         min-height: 100vh;
     }
 }
 
 .webp .header3 {
     @include m.background-image('../img/coop21.webp');
 }
 
 .avif .header3 {
     @include m.background-image('../img/coop21.avif');
 }



 .header4{
    @include m.background-image('../img/coop31.jpg');
    position: relative;
     background-size: cover;
     background-position: center;
     width: 100%;
 
     .header-aceite{
         display: none;
 
         @include media-breakpoint-up(lg) {
             display: block;
             /* mostramos la guitarra en una pantalla grande */
             position: absolute;
             right: 0;
             /* la coloca del ladoº derecho */
             bottom: 0;
             width: 20rem;
             height: 40rem;
             /* la coloca arriba */
             animation-duration: 1s;
             /* Cuanto va a durar la animacion */
             animation-delay: 0s; /* Cuanto va a tardar la imagen en comenzar */
             animation-timing-function: ease-in-out; /* transicion */
             animation-name: animarImagen; /* min 30 */
             /* Llamamos a la animacion de la imagen */
         }
     }
 
     @include media-breakpoint-up(lg){
         min-height: 100vh;
     }
 }
 
 .webp .header4 {
     @include m.background-image('../img/coop31.webp');
 }
 
 .avif .header4 {
     @include m.background-image('../img/coop31.avif');
 }


 .header5{
    @include m.background-image('../img/coop20.jpg');
    position: relative;
     background-size: cover;
     background-position: center;
     width: 100%;
 
     .header-aceite{
         display: none;
 
         @include media-breakpoint-up(lg) {
             display: block;
             /* mostramos la guitarra en una pantalla grande */
             position: absolute;
             right: 0;
             /* la coloca del ladoº derecho */
             bottom: 0;
             width: 20rem;
             height: 40rem;
             /* la coloca arriba */
             animation-duration: 1s;
             /* Cuanto va a durar la animacion */
             animation-delay: 0s; /* Cuanto va a tardar la imagen en comenzar */
             animation-timing-function: ease-in-out; /* transicion */
             animation-name: animarImagen; /* min 30 */
             /* Llamamos a la animacion de la imagen */
         }
     }
 
     @include media-breakpoint-up(lg){
         min-height: 100vh;
     }
 }
 
 .webp .header5 {
     @include m.background-image('../img/coop20.webp');
 }
 
 .avif .header5 {
     @include m.background-image('../img/coop20.avif');
 }


 
 .header6{
    @include m.background-image('../img/coop34.jpg');
    position: relative;
     background-size: cover;
     background-position: center;
     width: 100%;
 
     .header-aceite{
         display: none;
 
         @include media-breakpoint-up(lg) {
             display: block;
             /* mostramos la guitarra en una pantalla grande */
             position: absolute;
             right: 0;
             /* la coloca del ladoº derecho */
             bottom: 0;
             width: 20rem;
             height: 40rem;
             /* la coloca arriba */
             animation-duration: 1s;
             /* Cuanto va a durar la animacion */
             animation-delay: 0s; /* Cuanto va a tardar la imagen en comenzar */
             animation-timing-function: ease-in-out; /* transicion */
             animation-name: animarImagen; /* min 30 */
             /* Llamamos a la animacion de la imagen */
         }
     }
 
     @include media-breakpoint-up(lg){
         min-height: 100vh;
     }
 }
 
 .webp .header6 {
     @include m.background-image('../img/coop34.webp');
 }
 
 .avif .header6 {
     @include m.background-image('../img/coop34.avif');
 }


 .header7{
    @include m.background-image('../img/coop32.jpg');
    position: relative;
     background-size: cover;
     background-position: center;
     width: 100%;
 
     .header-aceite{
         display: none;
 
         @include media-breakpoint-up(lg) {
             display: block;
             /* mostramos la guitarra en una pantalla grande */
             position: absolute;
             right: 0;
             /* la coloca del ladoº derecho */
             bottom: 0;
             width: 20rem;
             height: 40rem;
             /* la coloca arriba */
             animation-duration: 1s;
             /* Cuanto va a durar la animacion */
             animation-delay: 0s; /* Cuanto va a tardar la imagen en comenzar */
             animation-timing-function: ease-in-out; /* transicion */
             animation-name: animarImagen; /* min 30 */
             /* Llamamos a la animacion de la imagen */
         }
     }
 
     @include media-breakpoint-up(lg){
         min-height: 100vh;
     }
 }
 
 .webp .header7 {
     @include m.background-image('../img/coop32.webp');
 }
 
 .avif .header7 {
     @include m.background-image('../img/coop32.avif');
 }

 .header8{
    @include m.background-image('../img/coop23.jpg');
    position: relative;
     background-size: cover;
     background-position: center;
     width: 100%;
 
     .header-aceite{
         display: none;
 
         @include media-breakpoint-up(lg) {
             display: block;
             /* mostramos la guitarra en una pantalla grande */
             position: absolute;
             right: 0;
             /* la coloca del ladoº derecho */
             bottom: 0;
             width: 20rem;
             height: 40rem;
             /* la coloca arriba */
             animation-duration: 1s;
             /* Cuanto va a durar la animacion */
             animation-delay: 0s; /* Cuanto va a tardar la imagen en comenzar */
             animation-timing-function: ease-in-out; /* transicion */
             animation-name: animarImagen; /* min 30 */
             /* Llamamos a la animacion de la imagen */
         }
     }
 
     @include media-breakpoint-up(lg){
         min-height: 100vh;
     }
 }
 
 .webp .header8 {
     @include m.background-image('../img/coop23.webp');
 }
 
 .avif .header8 {
     @include m.background-image('../img/coop23.avif');
 }

.heading-data {
  
  
    a {
        text-decoration: none;
        color: $white; 
        font-weight: bold;
    
    }
}

.heading{
    font-weight: 900;
    font-size: 2rem;
    color: $marron;
}

.logo {
    content: url(../img/logo2.png);
    height: 4rem;
    width: 4rem;
    object-fit: contain; 
    border-radius: 50%; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.logo:hover {
    transform: scale(1.1); 
}


/* Estilo para el scroll personalizado */
::-webkit-scrollbar {
    width: 10px; /* Ancho del scroll */
}

::-webkit-scrollbar-thumb {
    background-color: $verde; /* Color oliva */
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Color del fondo del track */
}