@use '../custom' as *;

.headin-tienda {
    color: $marron;
    font-weight: 900;
    font-size: 3rem;

}


.aceite1 {
    content: url(../img/aceite1.png);
}

.webp .aceite1 {
    content: url(../img/aceite1.webp);
}

.avif .aceite1 {
    content: url(../img/aceite1.avif);
}

.aceite2 {
    content: url(../img/aceite2.png);
}

.webp .aceite2 {
    content: url(../img/aceite2.webp);
}

.avif .aceite2 {
    content: url(../img/aceite2.avif);
}

.aceite3 {
    content: url(../img/aceite3.png);
}

.webp .aceite3 {
    content: url(../img/aceite3.webp);
}

.avif .aceite3 {
    content: url(../img/aceite3.avif);
}

.aceite4 {
    content: url(../img/aceite4.png);
}

.webp .aceite4 {
    content: url(../img/aceite4.webp);
}

.avif .aceite4 {
    content: url(../img/aceite4.avif);
}

.aceite5 {
    content: url(../img/aceite5.png);
}

.webp .aceite5 {
    content: url(../img/aceite5.webp);
}

.avif .aceite5 {
    content: url(../img/aceite5.avif);
}

.aceite6 {
    content: url(../img/aceite10.png);
}


.aceite7 {
    content: url(../img/aceite7.png);
}



.aceite8 {
    content: url(../img/aceite8.png);
}


.aceite9 {
    content: url(../img/aceite9.png);
}

.producto {
    a {
        text-decoration: none;
        background-color: $verde;
        color: $white;
        border-radius: 1rem;
        display: inline-block; 
        padding: 0.5rem 1rem;
        transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;

        &:hover {
            color: $dorado;
            transform: scale(1.1); 
        }
    }

    .producto-precio {
        color: $marron;

        span {
            color: $verde;
        }

    }
  


    .heading-producto {
        font-size: 2rem;
        color: $verde;
    }

    input{
        background-color: $verde;
        border: none;
        transition: transform 0.3s ease-in-out;
        &:hover{
            background-color: $verde;
            transform: scale(1.1);
        }
    }
    
}

.img-producto {

    transition: transform 0.3s ease-in-out;

    &:hover {
        transform: scale(1.5);
    }
}