@use '../custom' as *;

.headin-tienda {
    color: $marron;
    font-weight: 900;
    font-size: 3rem;

}

.producto {
    a {
        text-decoration: none;
        background-color: $verde;
        color: $white;
        border-radius: 1rem;
        display: inline-block; 
        padding: 0.5rem 1rem;
        transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;

        &:hover {
            color: $dorado;
            transform: scale(1.1); 
        }
    }

    .producto-precio {
        color: $marron;

        span {
            color: $verde;
        }

    }
  


    .heading-producto {
        font-size: 2rem;
        color: $verde;
    }

    input{
        background-color: $verde;
        border: none;
        transition: transform 0.3s ease-in-out;
        &:hover{
            background-color: $verde;
            transform: scale(1.1);
        }
    }
    
}

.img-producto {

    transition: transform 0.3s ease-in-out;

    &:hover {
        transform: scale(1.5);
    }
}